/* Estilos gerais */
body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    border: 3px solid #FEC63E; 
    padding: 10px 30px;
    color: #FEC63E;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn:hover {
    color: #FFF;
    border-color: #FFF;
}

.btn.btn-preto:hover {
    color: #000;
    border-color: #000;
}


.subtitulo {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.subtitulo:after {
    content: "";
    display: block;
    width: 60px; 
    height: 3px; 
    background: #000;
    margin: 8px auto;
}

/* SOBRE */
.subtitulo-interno {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    margin-top: 20px;
}

.subtitulo-interno:after {
    content: "";
    display: block;
    width: 60px; 
    height: 3px; 
    background: #000;
    margin: 8px 0;
}
/* FIM SOBRE */

/* Header */
.header {
   width: 100%;
   top: 0;
   background: #FEC63E; 
   padding: 15px 0;
   position: fixed;
   z-index: 9999; 
}

/*  z-index: 9999 => nav bar fixa e sem conteúdos sobressaindo */

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu ul li a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.header_menu ul li a:hover {
    color: #FFF;
}

.header_menu ul li a.menu_ativo {
    color: #FFF;
}
/* Introdução */

.introducao {
    width: 100%;
    height: 380px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
    padding-top: 80px;
    z-index: 10px;
}

.introducao h1 {
    font-size: 48px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-externo {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: #FFF;
}

.quote-externo p {
    font-style: italic;
}

.quote-externo p:before, .quote-externo p:after {
    content: "";
    display: block;
    width: 60px; 
    height: 3px; 
    background: #FFF;
    margin: 14px auto 10px auto; 
}

.quote-externo cite {
    font-size: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}

/*  SOBRE */
/*  Introducao interna */

.introducao-interna {
    width: 100%;
    height: 160px;
    margin-top: 92px;
    text-align: center;
    color: #FFF;
    padding-top: 36px;
}

.introducao-interna h1 {
    font-size: 36px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

.introducao-interna h1:after {
    content: "";
    display: block;
    width: 60px; 
    height: 3px; 
    background: #FFF;
    margin: 6px auto 10px auto; 
}
/* FIM SOBRE */

/* Produtos */

.produtos {
    padding: 60px 0; 
    z-index: 10px;
}

.produtos_lista li {    
    background: #FEC63E;
    text-align: center;
}

.produtos_lista li img {
    margin: 0 auto;
}

.produtos_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 15px;
}

.produtos_lista li h3:after {
    content: "";
    display: block;
    width: 60px; 
    height: 3px; 
    background: #000;
    margin: 2px auto; 
}
.produtos_lista li p {
    padding: 10px 20px 20px 20px;
}

.produtos_icone img {
    text-emphasis: center;
}

.produtos_icone {
    background: #000;
    padding: 20px;
}

.call {
    padding-top: 40px;
    text-align: center;
    clear: both;
}

.call p {
    margin-bottom: 20px;
}

/* Portfólio */

.portfolio {
    width: 100%;
    background: #000;
    padding: 40px 0;
}

.portfolio .subtitulo {
    color: #FEC63E;
}

.portfolio .subtitulo:after {
    background: #FEC63E;
}

.portfolio_lista li:last-child {   
    margin-top: 20px;
}

.portfolio.call p {
    color: #FFF;
}

/* Qualidade */

.qualidade {
    padding: 60px 0;
}

.qualidade:after {
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url("../img/linhas.svg") no-repeat center;
    position: absolute;
    top: 249px;
    right: 162px;
    z-index: -1;
}

.qualidade img {
    margin: 0 auto;
    display: block;
    
}

.subtitulo img {
    display: block;
}

.qualidade_lista {
    padding-top:20px;
    overflow: auto; /*clear-fix*/
}

.qualidade_lista li {
    text-align: center;
    padding: 0 40px;
}

.qualidade_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 15px;
}

.qualidade_lista li h3:after {
    content: "";
    display: block;
    width: 60px; 
    height: 3px; 
    background: #000;
    margin: 6px auto; 
}

/* Quebra */

.quebra {
    width: 100%;
    height: 220px;
    background: url("../img/bg-footer.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 40px;
}

.quebra .quote-externo {
    max-width: 400px;
}

/* Footer */

.footer {
    width: 100%;
    height: 160px;
    background-color: #000;
    color: #FFF;
    padding: 20px 0;
}

.footer h3 {
    font-size: 18px;
    line-height: 25px;
    color: #FEC63E;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.footer h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FEC63E;
    margin: 6px 0 12px 0;
}

.footer_historia {
    padding-right: 40px;
}

.footer_contato ul li {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
    line-height: 5px;
    padding-bottom: 20px;
}

.footer_redes ul li {
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 20px;
}

.footer_redes ul li a {
    border: 3px solid #FEC63E;
    display: block;
    padding: 10px 10px 5px;
   
}

.footer_redes ul li a:hover {
    border-color: #FFF;
}

.copy {
    width: 100%;
    font-size: 18px;
    background: #FEC63E;
    padding: 20px 0;
    color: #000;
}



/*  JavaScript */

/*  Tranasições blockquotes */
[data-slide] {
    position: relative;
}

[data-slide] > * {
    position: absolute;
    top: 0;
    opacity: 0;
}

[data-slide] > .active {
    position: relative;
    opacity: 1;
    transition: opacity 3000ms;
}

/* Botões slider */
[data-slide-nav] {
    display: block;
    text-align: center;
    margin-top: 20px;
}

[data-slide-nav] button {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 4px;
    border: none;
    border-radius: 6px;
    text-indent: -99px;
    overflow: hidden;
    background: #353535;
}

[data-slide-nav] button.active {
    background: #FEC63E;
}